./OG Sports/.vs/OG Sports/v15/*
./OG Sports/OG Sports/App_Data/*
./OG Sports/OG Sports/obj/Debug/OG Sports.dll
./OG Sports/OG Sports/obj/Debug/OG Sports.pdb
./OG Sports/OG Sports/bin/Debug/OG Sports.dll
./OG Sports/OG Sports/bin/Debug/OG Sports.pdb