<div class="Home-Container">
    <div class="Home-RightDesc">
        <div class="Desc-Header">
            <div class="Desc-Header-Text">
                מצלמת GoPro
            </div>
            <div class="Desc-Header-Price">
                299$
            </div>
        </div>
        <div class="Desc-Container">
            <div class="Desc-Container-Pic">
                <img class="Desc-Container-Pic-Img" src="../Styles/Images/GoPro.jpg">
                <div class="Desc-Container-Desc">
                    מצלמת GoPro מסדרת Hero 4 אשר מסוגלת לצלם באיכות של עד 4K בתנאי שטח ובכל סוגי הספורט אקסטרים.
                    <br>
                    <br>
                    מפרט טכני: בלה בלה בלה בלה לבה לבה לבה הבל בל הבל הבלה 
                </div> 
            </div>
        </div>
        <div>
            <footer></footer>
        </div>
    </div>  
    <div class="Home-LeftVideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CnJfIONbJF4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>