.Home-Container {
    display: flex;
}

.Home-RightDesc {
    background: #A9A9A9;
    font-family: Tahoma;
    font-size: 14px;
    margin-left: 25px;
}

.Desc-Header {
    display: flex;
    justify-content: space-between;
    background: gray;
    border-bottom: 1px solid black;
}

.Desc-Header-Text {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    padding: 18px;
}

.Desc-Header-LeftSide {
    display: flex;
}

.Desc-Header-Price {
    background: red;
    font-family: "Roboto";
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Desc-Header-Button {
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Desc-Container-Pic-Img {
    height: 200px;
    width: 200px;
    padding: 10px;
}

.Desc-Container-Pic {
    display: flex;
}

.Desc-Container-Desc {
    padding: 10px;
    line-height: 23px;
    text-align: right !important;
}

.Carousel-Card {
    max-width: 235px;
    max-height: 290px;
    padding: 5px;
    border: 1px solid #80808091;
}

.Carousel-Card-Img {
    width: 150px;
    margin: auto;
}

.Card-Title {
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Card-Price {
    background: #007bff;
    font-family: "Roboto";
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Card-Footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0px;
}

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
}

.carousel-arrows {
    direction: ltr;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
{
    transition: all 1s ease;
}

