@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../fonts/Roboto-Regular.woff') format('woff') /* Modern Browsers */
}

body {
    margin: 5px;
    background: #EFEFEF;
    padding-top: 0px;
    padding-bottom: 0px;
}

.MainPage-Header {
    background: #000000;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.MainPage-Header-Text {
    font-family: 'Roboto';
    text-shadow: 8px -5px 3px #636363;
    font-size: 40px;
    font-style: italic;
    color: #efefef;
}

.MainPage-Header-Buttons {
    align-self: center;
    direction: rtl;
}

.MainPage-Header-SingleButton {
    margin-left: 5px;
}

#HomePageButton {
    background : #007bff;
    color: white;
}

.DynamPage-Container {
    box-shadow: 0px 0px 4px 0px #5a5a5a;
    margin-top: 10px;
    padding: 10px;
    height: 76vh;
    background: white;
    direction: rtl;
}