.ProductTable-BuyButton {
    border: none;
    background: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    transition: box-shadow ease-in.2s;
}


.ProductTable-BuyButton:hover {
    box-shadow: 1px 1px 5px 3px lightblue;
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow ease-in.2s;
}

.ProductTable-BuyButton:active {
    margin-top: 5px;
}


.ProductTable-BuyButton:focus {
    outline: none;
}

.ProductFilters-TopSubFilters {
    flex: 1;
    border: 1px solid lightgray;
    padding: 0px 15px 0px 15px;
    margin-left: 20px;
    border-right: none;
    border-bottom: none;
}


