@{
    ViewBag.Title = "אודות";
}
<div class="About-Container">
    <div class="About-Text">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>החברה OGSports הוקמה אי שם בשנת 1951 ע"י בן גבע ואוהד אל על בעיר חיפה הממוקמת בארץ ישראל.</p>
        <p>כיום החברה בעלת סדר גודל עולמי וברשותה סניפים בכל רחבי העולם.</p>
        <p>בחברה מועסקים כ-16 אלף עובדים.</p>
        <br />
        <h4>מוטו החברה - <b>"אנו נעשה עבור לקוחותינו את הטוב ביותר!"</b></h4>
        <br />
        <br />
        <p>
            מיקום מטה החברה -
            חיפה, יוחאי בן נון, 45
        </p>
    </div>
    <div id="map" style="width:700px;height:400px"></div>
</div>
